 /*Главная*/
 h1{
   font-size: 18px;
   text-align: center;
 }
 p{
   font-size: 16px;
 }
 .flex-container{
  width: 100%;
  height: 100%;
  padding:2rem 0 2rem 0;
  border-radius: 8px;
	display: flex;
	justify-content: space-around;
  text-align: center;
  	
 }
 .flex_box {
  width: 47%;
  height: 300px;
  border-radius: 8px;
  text-align: justify;
  overflow-y: auto;
  margin-bottom: 30px;
  border: 1px solid black;
  padding: 15px;

}

.IMG {
  width: 47%;
  height: 300px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid black;
}
.IMG img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0;
}



.flex_box li {
  text-align: left;
  color: black;
  padding-left:10px; 
}
.nazv h1{
  font-size: 22px;
  text-align: center;
  margin: 0 0 2rem 0;
}

.preds {
  width: 100%;
  height: 30%;
  border-radius: 8px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
 }
 .preds img {
  width: 40%;
  height:30%;
 border-radius: 8px;
}

 .kpreds{
  width: 45%;
  height: 30%;
  align-self: center;

}


/*Главная конец*/
  /*Шапка*/
  header {
    height: 130px;
    width: 100%;
    margin-bottom: 70px;
 
  }
  .clearfix img{
    height: 120px;
    width: 120px;
    padding: 5px;
  }
  
 
 /*окно поиска*/
 form {
  position: relative;
  width: 160px;
  margin:38px -65px 0 15px;


  }
  input, button {
  border: none;
  outline: none;
  border-radius: 8px;
  }
  input {
  width: 100%;
  height: 22px;
  background: #F9F0DA;
  padding: 0 0 2px 10px;
  margin-right: -5rem;

  }
  button {
  height: 21px;
  width: 21px;
  position: absolute;
  top: 1px;
  right: -7px;
  bottom:1px;
  background:rgba(235, 69, 69, 0.981);
  cursor: pointer;
  }
  button:before {
  margin: 0px -2px  ;
  font-size: 18px;
  }
  @-moz-document url-prefix() {
    button {
    width: 23px;
    }
    button:before {
    font-size: 18px;
   }

}
/*окно поиска конец*/


  .menu {
   margin-top: 10px;
   width: 100%;
   justify-content: flex-start;
 
  }
  .menu__link{
      padding: 0;
      margin-top:-10px; 
      margin-bottom: 0;
  }
  .menu__link a{
    font-size: 14px;
    margin: 5px;
    margin-top:10px;
    padding: 7px 7px  7px 7px;
  }
  nav {
    width: 87%;
    justify-content: center;
  }
/*Шапка конец*/

/* Подвал сайта*/
  footer {
    width: 100%;
    height: 100%;
    display: block;
 
  }
  footer img {
      width: 80px;
      height: 80px;
  
    }
     /* Подвал сайта конец*/