
 /* Информация*/
 .box{
  height: 300px;
  overflow-y: auto;
  text-align: justify;
}

.p li{
  word-wrap: break-word;
}
       /*Шапка*/
      .navbar{
          width: 100%
      }

/*Подвал*/
.footer1 img{
  padding: 0 50px 0 50px;

}
