 /* Информация*/

 .box{
  height: 300px;
  overflow-y: auto;
  text-align: justify;
}

.p li{
  word-wrap: break-word;
}
 
      
  /* Информация конец*/

   
       /*Шапка*/
       header {
        height: 130px;
        width: 100%;
        margin: 0 0 3rem 0;
     
    }
    header img{
        height:120 px;
        width: 120x;
        float: right;
        margin:5px;
    }


     /*окно поиска*/
      .navbar{
          width: 100%
      }
 
    /*Шапка конец*/

/*Подвал*/
.box_{
  display: block;
}
  .box_ img{

   height:70px;
   width:70px;
   padding: 0;
   margin: 0 45px 15px 45px;
  
  }
 /*Подвал*/