/* Информация*/
      .box{
        height: 300px;
        overflow-y: auto;
        text-align: justify;
                
      }
      .p li{
        word-wrap: break-word;
      }

   /*Шапка*/
 .navbar{
   width: 100%
 }


  