 /*Новости*/
  
          .nov_content img{
            width: 100%;
            height: 300px;  
          }
        
          .nov_content textarea{
            width: 200px;
            height: 50px;
          }
          .table {
            align-content: center; 
            }      
         th, td {
          border: 2px solid rgba(0, 0, 0, 0.349);
            }
       
        .coment{
            margin: 1.5rem 0 0 0;
           
        }
        

    /*Новости конец*/
   
      /*Шапка*/
      header {
        height: 130px;
        width: 100%;
        margin: 0 0 6rem 0;
     
    }
    header img{
        height:120 px;
        width: 120x;
        float: right;
        margin:5px;
    }


 /*окно поиска*/
  .navbar{
      width: 100%
  }

/*Шапка конец*/

/*Подвал*/
/*Подвал*/
.box_{
  display: block;
}
  .box_ img{

   height:70px;
   width:70px;
   padding: 0;
   margin: 0 45px 15px 45px;
  
  }
 /*Подвал*/
/*Подвал*/
hr {
  background: black;
 }