
  /* Новости*/
 
  .flex-container{
    width: 100%;
    height: 100%;
    padding:1rem 0 1rem 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    text-align: center;
      
   }
   
        .nov_content1{
          margin-top: 20px;
          width: 45%;
        }
      
        .nov_content1 img{
          width: 100%;
          margin: 0 10px 0 0;
          border-radius: 8px;
        }
      
        .nov_content2{
            width: 47%;
            margin:0 0 10px 0;
            text-align: justify;
           
        }
    
        .nov_content2 h1{
            text-align: center;
        }
        .nov_content3{
          width:100%;
          border: 1px solid black;
          border-radius: 8px;
          margin: 2rem 1rem;
        }
      
        .table {
          width: 95%; 
          align-content: center; 
          }
          
          th, td {
            border: 2px solid rgba(0, 0, 0, 0.349);
            font-size: 14px;
         
          }
      .coment {
        width: 100%;
       margin: 2rem 1rem 0 1rem;
       border-radius: 8px;
       border:1px solid black;
      }
  
 /* Новости конец*/

  /*Шапка*/
  header {
    height: 130px;
    width: 100%;
    margin:0 0 70px 0;
 
  }
  header img{
    height: 120px;
    width: 120px;
   float: right;
  }
  /*окно поиска*/

 .navbar{
   width: 100%
 }
/*Шапка конец*/

/* Подвал сайта*/
footer {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 0 1rem 0;
  padding: 0 ;
}
footer img{
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 0;
  }
     /* Подвал сайта конец*/
     hr {
      background: black;
     }