  /*Новости-начало*/
  
    .table {
      table-layout: auto; 
      width: 100%; 
      margin-bottom: 20px;
      
      }
      th, td {
        border: 2px solid rgba(0, 0, 0, 0.349);
        font-size: 18px;
     
      }
 
  /*Новости-конец*/
  hr {
    background: black;
   }