 /*Новости*/
    .nov-container {
        width: 90%;
        display: block;
        justify-content: center;
        margin: 0 5% 0 5%;
        padding: 0;
         
        }
          .nov_content1{
            margin: 5rem 0 1rem 0;
            height: 100%;
            width: 100%;
            padding: 0 5% 10px 5%;
          }
         
          .nov_content1 img{
            width: 100%;
            height: 300px;  
            border-radius: 8px;
          }
        
          .nov_content2{
              width: 100%;
              padding: 0 5% 0 5%;
              margin: 10px 0 2rem 0;
              text-align: justify;
              
          }

          .nov_content3{
            width:80%;
            margin:0 10% 0 10%;
            text-align: center;
            font-size: 18px;
            border-radius: 8px;
            border: 1px solid black;
    
          }
          .nov_content3 label p{
          font-size: 16px;
          }
          .nov_content3 textarea{
            width: 200px;
            height: 50px;
          }
          .table {
            width: 85%; 
            align-content: center; 
            }      
         th, td {
          border: 2px solid rgba(0, 0, 0, 0.349);
            }
        .coment p{
         font-size: 16px;
        }
        .coment{
            margin: 1.5rem 0 0 0;
            border-radius: 8px;
            border: 1px solid black;
            padding: 0 5% 0 5%;
        }
        .coment textarea{
            width: 200px;
            height: 50px;
         
          }

    /*Новости конец*/
   
      /*Шапка*/
      header {
        height: 130px;
        width: 100%;
        margin: 0 0 6rem 0;
     
    }
    header img{
        height:120 px;
        width: 120x;
        float: right;
        margin:5px;
    }


 /*окно поиска*/
  .navbar{
      width: 100%
  }

/*Шапка конец*/

/*Подвал*/
footer{

display: block;
height: 100%;
width: 100%

}
footer img{
 height:100px;
 width:150px;
 padding: 0 30px 0 30px;
 margin: 0 30px 0 30px;
}
/*Подвал*/
hr {
  background: black;
 }