
  /* Новости*/  
.nov_content img{
   width: 100%;
   text-align: justify;
      
   }
.table {
   width: 95%; 
  align-content: center; 
   }
          
th, td {
   border: 2px solid rgba(0, 0, 0, 0.349);
   font-size: 14px;
         
  }
.coment {
   width: 100%;
   margin: 2rem 1rem 0 1rem;
   border-radius: 8px;
   border:1px solid black;
 }
  
 /* Новости конец*/

  /*Шапка*/
  header {
    height: 130px;
    width: 100%;
    margin:0 0 70px 0;
 
  }
  header img{
    height: 120px;
    width: 120px;
   float: right;
  }
  /*окно поиска*/

 .navbar{
   width: 100%
 }
/*Шапка конец*/

/* Подвал сайта*/
.box_ img{
  width: 80px;
  height: 80px;
}
     /* Подвал сайта конец*/
     hr {
      background: black;
     }