/*Фото и видео*/

.flex-container {
    width: 100%;
    display: block;
    justify-content: center;
    margin: 0;
    padding: 40px 0 20px 0;
}
  .photo {
    width: 100%;
    height: 450px;
    padding: 0 5% 0 5%;
    display: block;
    margin:-1.5rem 0 6rem 0;
  
  }
  .photo img {
    width: 100%;
    height: 100%;
   margin: 0 0 5px 0;
    border-radius: 10px;
  }
  .photo h1 {
    font-size: 20px;
  }
  
  .Video {
   height: 300px;
   padding:0 0 2rem 1rem;

  }
  .Video iframe {
    width: 53%;
    height:100%;
    

  }
  .kvid{
    width: 45%;
    height: 30%;

  }
  .kvid p {
    font-size: 16px;
    font-weight: 800;
  }
  .nazv-1 h1{
    margin-bottom: 0;
    font-size: 24px;
    padding:9rem 0 0 0;
   
  }
  .nazv-2 h1{
    margin-bottom: 0;
    font-size: 24px;
    padding:2rem 0 1rem 0;
   
  }
  

/* Фото и видео конец*/

  