
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/FON.jpg); /* Путь к фоновому изображению */
    background-attachment: fixed; /* Фиксируем фон веб-страницы */

  }
  /*Шапка*/
   header {
    grid-area: header;
    background:url(../assets/shapka.jpg) no-repeat center top / cover ;
    height: 135px;
    width: 100%;
    border-radius: 10px;
    margin:0 0 80px 0;
  }
 
  header img {
  width: 120px;
  height: 120px;
  margin: 5px;
  
  }

 nav {
   margin: 0.3rem 0 0 0;
   border-radius: 10px;
 }
 
/*Шапка конец*/

.flex-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/*Подвал сайта-начало*/
footer{
  grid-area:footer;
  width: 100%;
  background: #3a5966;
  border-radius: 10px;

}
footer img{
display: inline-block;
height: auto;
max-width: 100%;
}
/*Подвал сайта-конец*/





